In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize

In [0]:
from google.colab import drive
drive.mount('/content/drive')
data=pd.read_csv('/content/drive/My Drive/hotstar_train.csv')
data=data.drop('Unnamed: 0',axis=1)

In [0]:
data.head()

## 1.Treating for cities and time

In [0]:
df_cities_seg=data[['Train_ID','cities','segment']]

In [0]:
x=df_cities_seg

In [0]:
city=[i for i in x.cities]
cities=[]
time=[]
for i in range(0,len(city)):
    t=city[i].split(',')
    for j in range(len(t)):
        t1=t[j].split(':')
        cities.append(t1[0])
        time.append(t1[1])
time=[int(x) for x in time]

In [0]:
cities_unique=list(set(cities))

#### Function for cleaning

In [0]:
def add_columns(x,col):
    for i in range(0,len(col)):
        x[col[i]]=np.NaN
def add_columns_time(x,col):
    for i in range(0,len(col)):
        x['time_%s'%col[i]]=np.NaN
        
# add value to column
def value_columns(x):
    tt=[]
    tc=[]
    for i in range(0,len(x)):
        t=x.iloc[i,1].split(',')
        for j in range(0,len(t)):
            t1=t[j].split(':')
            #t1.append(t1)
            tc.append(t1[0])
            tt.append(t1[1])
        for j in range(0,len(tc)):
            x[tc[j]][i]=1
        
        tc=[]
def value_time(x,col):
    city=[]
    time=[]
    for i in range(0,len(x1)):
        temp=x[col][i].split(',')
    #    for j in range(0,len(temp)):
    #        x2=temp[j]
    #        city.append(x2.split(':')[0])
    #        time.append(x2.split(':')[1])
        for j in range(0,len(temp)):
            if x[temp[j].split(':')[0]][i]==1:
                x['time_%s'%temp[j].split(':')[0]][i]=temp[j].split(':')[1]
                
def fill_nulls_time(x):
    for i in range(0,len(x)):
        for j in range(3,len(x.columns)):
    #        print('t')
            if x.iloc[i,j]>=0:
                #print('t')
                x.iloc[i,j]=x.iloc[i,j]
            else :
                x.iloc[i,j]=0   
    
def fill_nulls_city(x,cols):
    for i in range(0,len(x)):
        for j in range(0,len(cols)):
    #        print('t')
            if x[cols[j]][i]!=1:
                #print('t')
                x[cols[j]][i]=0
def int_to_float(x):
    for i in range(0,len(x.columns)):
        if x.iloc[:,i].dtypes=='float64':
            x.iloc[:,i]=x.iloc[:,i].astype('int')

In [0]:
# Add column to dataframe
add_columns(x,cities)

In [0]:
x.head()

In [0]:
### Add value to column where it was present

In [0]:
value_columns(x)

In [0]:
x.head()

In [0]:
#### Replacing the null with 0
#fill_nulls_city(x,cities_unique)

In [0]:
# changing float to int
for i in range(0,len(x.columns)):
    if x.iloc[:,i].dtypes=='float64':
        x.iloc[:,i]=x.iloc[:,i].astype('int')

In [0]:
x.head()

In [0]:
len(cities)

In [0]:
# add time with respect to cities
add_columns_time(x,cities_unique)

In [0]:
# fill times value
#value_time(x,cities,time)

In [0]:
x.head()

In [0]:
# fill null values in time
#fill_nulls_time(x)

In [0]:
x.head()

In [0]:
x1=x.copy()

In [0]:
x1

In [0]:
city=[]
time=[]
for i in range(0,len(x1)):
    temp=x1['cities'][i].split(',')
#    for j in range(0,len(temp)):
#        x2=temp[j]
#        city.append(x2.split(':')[0])
#        time.append(x2.split(':')[1])
    for j in range(0,len(temp)):
        if x1[temp[j].split(':')[0]][i]==1:
            x1['time_%s'%temp[j].split(':')[0]][i]=temp[j].split(':')[1]

In [0]:
x1.head()

In [0]:
# filling nulls in time
#fill_nulls_time(x)

In [0]:
x.head()

In [0]:
# changing float to int
for i in range(0,len(x.columns)):
    if x.iloc[:,i].dtypes=='float64':
        x.iloc[:,i]=x.iloc[:,i].astype('int')

In [0]:
x.head()

In [0]:
# storing dataframe in df_cities
df_cities=x1.copy()
#df_cities.to_csv('hotstar_cities_200000.csv')

## 2.Treating for day of the week and time

In [0]:
data.columns

In [0]:
x=data[['Train_ID','dow','segment']]

In [0]:
## spliting day and time
day=[]
time=[]
for i in range(0,len(x)):
    temp=x['dow'][i]
    temp=temp.split(',')
    for j in range(0,len(temp)):
        day.append(temp[j].split(':')[0])
        time.append(temp[j].split(':')[1])

In [0]:
x.dow.head()

#### function to treat days and time

In [0]:
def day_name(l):
    #day_name=['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
    for i in range(0,len(l)):
        if l[i]=='1':
            l[i]='Sun'
        elif l[i]=='2':
            l[i]='Mon'
        elif l[i]=='3':
            l[i]='Tue'
        elif l[i]=='4':
            l[i]='Wed'
        elif l[i]=='5':
            l[i]='Thu'
        elif l[i]=='6':
            l[i]='Fri'
        else:
            l[i]='Sat'

In [0]:
#changing days to day name
day_name(day)

In [0]:
day_unique=list(set(day))

In [0]:
add_columns(x,day_unique)

In [0]:
day[:10]

In [0]:
x.head(10)

In [0]:
# filling values to the columns
for i in range(0,len(x)):
    day_t=[]
    s=x.dow[i]
    s=s.split(',')
    for j in range(0,len(s)):
        d=s[j].split(':')[0]
        t=s[j].split(':')[1]
        if d=='1':
            d='Sun'
        elif d=='2':
            d='Mon'
        elif d=='3':
            d='Tue'
        elif d=='4':
            d='Wed'
        elif d=='5':
            d='Thu'
        elif d=='6':
            d='Fri'
        else:
            d='Sat'
        day_t.append(d)
        for k in range(0,len(day_t)):
            x[day_t[k]][i]=1

In [0]:
# filling the nulls with 0
#fill_nulls_city(x,day_unique)

In [0]:
x.head(10)

In [0]:
# changing data type from float to int
int_to_float(x)

In [0]:
x.head(10)

In [0]:
## adding columns for time
add_columns_time(x,day_unique)

In [0]:
x.head()

In [0]:
## fill the value of time

for i in range(0,len(x1)):
    temp=x['dow'][i].split(',')
    for j in range(0,len(temp)):
        d=temp[j].split(':')[0]
        if d=='1':
            d='Sun'
        elif d=='2':
            d='Mon'
        elif d=='3':
            d='Tue'
        elif d=='4':
            d='Wed'
        elif d=='5':
            d='Thu'
        elif d=='6':
            d='Fri'
        else:
            d='Sat'
        if x[d][i]==1:
            x['time_%s'%d][i]=temp[j].split(':')[1]

In [0]:
x.head()

In [0]:
## fill the values of nulls with 0
#fill_nulls_time(x)

In [0]:
x.head()

In [0]:
## changing float to int
int_to_float(x)

In [0]:
x.head()

In [0]:
x.columns

In [0]:
x.head()

In [0]:
df_days=x.copy()
#df_days.to_csv('hotstar_days_200000.csv')

## 3.Treating the values for genres

In [0]:
x=data[['Train_ID','genres','segment']]

In [0]:
x.head()

In [0]:
genre=[]
time=[]
for i in range(0,len(x)):
    gen=x['genres'][i].split(',')
    for j in range(0,len(gen)):
        genre.append(gen[j].split(':')[0])
        time.append(gen[j].split(':')[1])

In [0]:
time=[int(x) for x in time]

In [0]:
genre_unique=list(set(genre))

In [0]:
# adding columns for genre
add_columns(x,genre_unique)

In [0]:
x.head()

In [0]:
# adding value for genre
value_columns(x)

In [0]:
x.head()

In [0]:
# filling nulls in genre
#fill_nulls_city(x,genre_unique)

In [0]:
x.head()

In [0]:
# changing floats to int
int_to_float(x)

In [0]:
# adding columns for time
add_columns_time(x,genre_unique)

In [0]:
x.head()

In [0]:
# adding values for time
for i in range(0,len(x)):
    temp=x['genres'][i].split(',')
    #    for j in range(0,len(temp)):
    #        x2=temp[j]
    #        city.append(x2.split(':')[0])
    #        time.append(x2.split(':')[1])
    for j in range(0,len(temp)):
        if x[temp[j].split(':')[0]][i]==1:
            x['time_%s'%temp[j].split(':')[0]][i]=temp[j].split(':')[1]

In [0]:
x.head()

In [0]:
# fill nulls for time
#fill_nulls_time(x)

In [0]:
x.head()

In [0]:
# converting float to int
int_to_float(x)

In [0]:
x.head()

In [0]:
x.columns=[            'Train_ID',               'genres',              'segment',
                     'Comedy',               'Action',            'Badminton',
                    'Reality',             'Wildlife',                 'Kids',
                      'Sport',              'Romance',             'Formula1',
                   'Thriller',                'Drama',                 'Teen',
                   'Football',               'Awards',              'Cricket',
                      'Crime',               'LiveTV',               'Travel',
                   'TalkShow',            'Mythology',               'Family',
                    'Science','time_Comedy',    'time_Action',
'time_Badminton',   'time_Reality',  'time_Wildlife',
            'time_Kids',     'time_Sport',   'time_Romance',
        'time_Formula1',  'time_Thriller',     'time_Drama',
            'time_Teen',  'time_Football',    'time_Awards',
         'time_Cricket',     'time_Crime',    'time_LiveTV',
          'time_Travel',  'time_TalkShow', 'time_Mythology',
          'time_Family',   'time_Science']

In [0]:
df_genre=x.copy()

In [0]:

df_genre.to_csv('Hotstar_genre_20000.csv')

In [0]:
df=pd.merge(df_cities,df_days,on=['Train_ID','segment'],how='inner')
df=pd.merge(df,df_genre,on=['Train_ID','segment'],how='inner')
df.to_csv('Hotstar_final.csv')

## 4.Treating for hour of the day

In [0]:
data.head()

In [0]:
df_time=data[['Train_ID','segment','tod']]

In [0]:
df_time.head()

In [0]:
x=df_time
genre=[]
time=[]
for i in range(0,len(x)):
    gen=x['tod'][i].split(',')
    for j in range(0,len(gen)):
        genre.append(gen[j].split(':')[0])
        time.append(gen[j].split(':')[1])

In [0]:
time=[int(x) for x in time]
genre_unique=list(set(genre))

In [0]:
add_columns(x,genre_unique)

In [0]:
    tt=[]
    tc=[]
    for i in range(0,len(x)):
        t=x.iloc[i,2].split(',')
        for j in range(0,len(t)):
            t1=t[j].split(':')
            #t1.append(t1)
            tc.append(t1[0])
            tt.append(t1[1])
        for j in range(0,len(tc)):
            x[tc[j]][i]=1
        
        tc=[]

In [0]:
x.head()

In [0]:
# adding columns for time
add_columns_time(x,genre_unique)

In [0]:
x.head()

In [0]:
# adding values for time
for i in range(0,len(x)):
    temp=x['tod'][i].split(',')
    for j in range(0,len(temp)):
        if x[temp[j].split(':')[0]][i]==1:
            x['time_%s'%temp[j].split(':')[0]][i]=temp[j].split(':')[1]

In [0]:
x.head()

In [0]:
df_time=x.copy()
df_time.to_csv('Hotstar_time_200000.csv')

### Merging all data

In [0]:
df_time.head()

In [0]:
df_genre.head()

In [0]:
df_cities.head()

In [0]:
df_days.head()

In [0]:
df=pd.DataFrame()
df=pd.merge(df_cities,df_days,on=['Train_ID','segment'],how='inner')
df=pd.merge(df,df_genre,on=['Train_ID','segment'],how='inner')
df=pd.merge(df,df_time,on=['Train_ID','segment'],how='inner')

In [0]:
df.head()

In [0]:
df.to_csv('HOTSTAR.csv')
!cp HOTSTAR.csv drive/My\ Drive/

In [0]:
df=df.fillna(0)

In [0]:
df.head()

In [0]:
int_to_float(df)